/*


@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiK19XWG-2VjNhmDnfhfCc0YC5rYoejyeAifx5KnVEjDvvNfEmUQ) no-repeat;
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  margin-top: 0px;
  padding: 5px;
 
 margin-left: 40%;

 
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
#a{
     width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  margin-bottom: 2px;
    
}
a{
      width: 100%;
  color: white;
  font-size: 18px;
}
#b{
      width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  margin-bottom: 2px;
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.letters{
    color: white;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
  
}
.line line1{
    background-color:  black;
}

.ml1 .line1 { 
    top: 0; 
background-color: yellow;
}
.ml1 .line2 { bottom: 0; 
        background-color: yellow;
}
input{
    background:none;
    color:white;
    border: none;
    outline: none;
    font-size: 18px;
}
